/* ───────────────────────╮
│ 🫐 blueberry ⬩ yoghurt
╰──────────────────────── */
:root {
  --text: #2f3d61;
  --en-text: #53678f;
  --accent: #5f88da;
  --bg-top: #f8f6ff;
  --bg-bottom: #e7efff;
  --divider: #97afe6;
  --edge: color-mix(in srgb, var(--divider), transparent 30%);
  --wallpaper: url('wallpapers/blueberry.yoghurt.jpg');
}

/* ──────────────────────╮
│ 🥛 catppuccin ⬩ latte
╰─────────────────────── */
:root {
  --text: #4c4f69;
  --en-text: #6c6f85;
  --accent: #dd7878;
  --bg-top: #eff1f5;
  --bg-bottom: #e6e9ef;
  --divider: #9ca0b0;
  --edge: color-mix(in srgb, var(--divider), transparent 30%);
  --wallpaper: url('wallpapers/catppuccin.latte.jpg');
}

/* ──────────────╮
│ 🍂 everforest
╰─────────────── */
:root {
  --text: #5c6a72;
  --en-text: #708089;
  --accent: #8da101;
  --bg-top: #fdf6e3;
  --bg-bottom: #efebd4;
  --divider: #93b259;
  --edge: color-mix(in srgb, var(--divider), transparent 30%);
  --wallpaper: url('wallpapers/everforest.jpg');
}

/* ──────────────────────╮
│ 🥀 rosé · pine ⬩ dawn
╰─────────────────────── */
:root {
  --text: #464261;
  --en-text: #797593;
  --accent: #d7827e;
  --bg-top: #fffaf3;
  --bg-bottom: #f2e9e1;
  --divider: #9893a5;
  --edge: color-mix(in srgb, var(--divider), transparent 30%);
  --wallpaper: url('wallpapers/rose.pine.dawn.jpg');
}
