/* ──────────────────────╮
│ 🥛 catppuccin · latte
╰─────────────────────── */
:root {
  --text: #4c4f69;
  --bg-front: #eff1f5;
  --bg-back: #e6e9ef;
  --accent: #dd7878;
  --en-text: #6c6f85;
  --divider: #9ca0b0;

  --edge: color-mix(in srgb, var(--divider), transparent 70%);
}

/* ──────────────╮
│ 🍃 everforest
╰─────────────── */
:root {
  --text: #5c6a72;
  --bg-front: #fdf6e3;
  --bg-back: #efebd4;
  --accent: #8da101;
  --en-text: #708089;
  --divider: #93b259;

  --edge: color-mix(in srgb, var(--divider), transparent 70%);
}

/* ────────╮
│ 🌨️ nord
╰───────── */
:root {
  --text: #2e3440;
  --bg-front: #d8dee9;
  --bg-back: #eceff4;
  --accent: #5e81ac;
  --en-text: #434c5e;
  --divider: #81a1c1;

  --edge: color-mix(in srgb, var(--divider), transparent 70%);
}

/* ──────────────────╮
│ 🥀 rosé pine dawn
╰─────────────────── */
:root {
  --text: #464261;
  --bg-front: #fffaf3;
  --bg-back: #f2e9e1;
  --accent: #d7827e;
  --en-text: #797593;
  --divider: #9893a5;

  --edge: color-mix(in srgb, var(--divider), transparent 70%);
}
