/* For more color schemes check 'templates' > 'color schemes' */

:root {
  --text: #cad3f5;
  --bg-top: #24273a;
  --bg-bottom: #1e2030;
  --accent: #f4dbd6;
  --en-text: #a5adcb;
  --divider: #6e738d;

  --edge: color-mix(in srgb, var(--divider), transparent 70%);
}

@font-face {
  font-family: literata;
  src: url("_Literata-VariableFont_opsz,wght.ttf");
  font-style: normal;
}

@font-face {
  font-family: literata;
  src: url("_Literata-Italic-VariableFont_opsz,wght.ttf");
  font-style: italic;
}

html {
  font-size: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.card,
.card.nightMode {
  font-family: "literata", serif;
  font-weight: 300;
  font-size:  2.125rem;
  text-align: center;
  color: var(--text);

  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

.mobile .card,
.mobile .card.nightMode {
  background-color: var(--bg-bottom);
  font-size: 1.75rem;
}

#content {
  border-radius: 30px;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.5);
  border: 3px solid var(--edge);
  overflow: hidden;

  width: 100%;
  max-width: 850px;
  margin: 0 auto;
}

.mobile #content {
  border-radius: 0;
  border: none;
  height: 100%;
  max-width: none;
  background-color: var(--bg-bottom);
  box-shadow: none;

  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

.top {
  background-color: var(--bg-top);
  padding: 1.875rem;
}

.bottom {
  background-color: var(--bg-bottom);
  padding: 1.875rem;
}

.hidden {
  display: none;
}

.small {
  color: var(--en-text);
  font-size: 1.25rem;
}

.medium {
  font-size: 1.625rem;
}

em,
strong,
b {
  font-style: italic;
  font-weight: 300;
  color: var(--accent);
}

.divider {
  height: 1.5px;
  background-color: var(--divider);
  border-radius: 1px;
}
