/* For more color schemes
check 'templates' > 'color schemes' */
:root {
  --text: #cad3f5;
  --faded: #a5adcb;
  --accent: #f4dbd6;
  --bg-header: #24273a;
  --bg-body: #1e2030;
  --divider: #6e738d;
  --edge: color-mix(in srgb, var(--divider), transparent 30%);
  --wallpaper: url("wallpapers/catppuccin.macchiato.jpg");
}

@font-face {
  font-family: literata;
  src: url("_Literata-VariableFont_opsz,wght.ttf");
  font-style: normal;
}

@font-face {
  font-family: literata;
  src: url("_Literata-Italic-VariableFont_opsz,wght.ttf");
  font-style: italic;
}

html {
  display: flex;
  flex-direction: column;
  font-size: 100%;
  min-height: 100%;
}

.card,
.card.nightMode {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;

  font-family: "literata", serif;
  font-size:  2.125rem;
  font-weight: 300;
  text-align: center;

  color: var(--text);
}

.mobile .card,
.mobile .card.nightMode {
  font-size: 1.75rem;
  background-color: var(--bg-body);
}

.card::before,
.card.nightMode::before {
  content: "";
  position: fixed;
  top: 0; left: 0; width: 100%; height: 100%;
  z-index: -1;

  background-image: var(--wallpaper);
  background-size: cover;
  filter: blur(4px);
}

#content {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  border: 3px solid var(--edge);
  border-radius: 30px;
  overflow: hidden;

  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.5);
}

.mobile #content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;

  height: 100%;
  max-width: none;
  border: none;
  border-radius: 0;

  background-color: var(--bg-body);
  box-shadow: none;
}

.card-header {
  padding: 1.875rem;
  background-color: var(--bg-header);
}

.card-body {
  padding: 1.875rem;
  background-color: var(--bg-body);
}

.audio {
  display: none;
}

.main-text {
  font-size: 1.875rem;
}

.details {
  font-style: italic;
  font-size: 1.475rem;
  color: var(--faded);
}

.caption {
  font-size: 1.25rem;
  color: var(--faded);
}

.cloze,
em,
strong,
b {
  font-style: italic;
  font-weight: 300;
  color: var(--accent);
}

.divider {
  height: 1.5px;
  margin-bottom: 1.25rem;
  border-radius: 1px;
  background-color: var(--divider);
}
